.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding: 12px;
  border-block-end: 1px solid #2b08c5;
  background-color: rgb(30, 164, 173);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  list-style-type: none;
}
.linkNav{
  text-decoration: none;
  color: black;
}

.linkNav:hover {
  color: #c405b4;
}